@charset "utf-8";
.box{width: 300px;height:362px;margin:0 auto;}
.navlist{width: 451px;position:relative;margin:0 auto;}
.navlist li{margin:0;padding:3px 3px 20px;list-style:none;position:absolute;-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8); -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8); -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8); box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);display:block;background:#fff;}
.navlist li:hover{-webkit-transform: scale(1.3,1.3); -moz-transform: scale(1.3,1.3); -o-transform: scale(1.3,1.3); transform: scale(1.3,1.3);z-index: 999;-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.navlist li a{width:107px; height:107px;display:block;}
.atas{-moz-transform: rotate(3deg); -webkit-transform: rotate(3deg); -o-transform: rotate(3deg); transform: rotate(3deg);  left: 86px; top: 19px; }
.atas a {background:url('/images/aura2diana.png') -90px -24px no-repeat; }
.tengahkiri{-moz-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); -o-transform: rotate(-3deg); transform: rotate(-3deg);  left: 10px;   top: 127px; }
.tengahkiri a{background:url('/images/aura2diana.png') -15px -131px no-repeat; }
.tengahtengah{-moz-transform: rotate(-1deg); -webkit-transform: rotate(-1deg); -o-transform: rotate(-1deg); transform: rotate(-1deg);  left: 79px;   top: 127px; }
.tengahtengah a{background:url('/images/aura2diana.png') -84px -132px no-repeat; }
.tengahkanan{-moz-transform: rotate(2deg); -webkit-transform: rotate(2deg); -o-transform: rotate(2deg); transform: rotate(2deg);  left: 163px;    top: 108px; }
.tengahkanan a{background:url('/images/aura2diana.png') -168px -113px no-repeat; }
.bawahkiri{-moz-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); -o-transform: rotate(-5deg); transform: rotate(-5deg);  left: 29px;    top: 222px; }
.bawahkiri a{background:url('/images/aura2diana.png') -28px -227px no-repeat; }
.bawahkanan{ left: 124px;    top: 208px; }
.bawahkanan a{background:url('/images/aura2diana.png') -129px -215px no-repeat; }
.ataskiri{-moz-transform: rotate(-6deg); -webkit-transform: rotate(-6deg); -o-transform: rotate(-6deg); transform: rotate(-6deg); left: 61px;   top: 60px; }
.ataskiri a {background:url('/images/aura2diana.png') -62px -62px no-repeat; }