/*reset*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; }
ul { list-style: none; margin: 0; padding: 0; }
ol { list-style-type: square; margin: 0 0 1em 2em; padding: 0; }
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video { display: block; }
a img { border: 0; }
/*typo*/
@font-face { font-family: 'PTSansRegular'; src: url('/fonts/PTS55F-webfont.eot'); src: url('/fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/PTS55F-webfont.woff') format('woff'), url('/fonts/PTS55F-webfont.ttf') format('truetype'), url('/fonts/PTS55F-webfont.svg#PTSansRegular') format('svg'); font-weight: normal; font-style: normal; }
h1, h2, h3, h4 { font-weight: normal; }
#title { font-size: 2.25em; }
#page-title { font-size: 1.875em; line-height: 1.3; }
.post h2 { font-size: 1.5em; line-height: 1.3;}
h3, #comment-title { font-size: 1.375em; }
h4 { font-size: 1.25em; }
#menu { font-size: 1.875em; }
.meta { font-size: smaller; }
q, figcaption, footer p { font-size: .875em; }
* html body footer p { font-size: 14px; }
* :first-child+html body footer p { font-size: 14px; }
img { max-width: 100%; }
p, #comment-title { margin-bottom: 1em; }
#comment-title { border-bottom: 2px solid #555; }
p#title { margin-bottom: 0; }
a:link, a:visited { color: #CCC; border-bottom: 1px solid #555; text-decoration: none; }
.meta a { color: #888; }
a:hover { color: #ddd; background-color: #2a2a2a; border-bottom-color: #2a2a2b; }
a:focus { outline: 0; background-color: #252525; color: #ccc; border-bottom-color: #252524; }
.post h2 a:link, .post h2 a:visited, #social a:link, #social a:visited, .dsq-avatar a:link, .dsq-avatar a:visited { border: none; }
.dsq-avatar a:hover { background-color: transparent; }
/*style*/
body { background-color: #1a1a1a; color: #aaa; font: 1em/1.5 'PTSansRegular', Arial, sans-serif; padding: 0; position: relative; }
header, article, footer { width: 500px; padding-left: 20px; padding-right: 20px; margin: 20px auto; position: relative; }
article #page-title, .post h2, p, .first, .gambar, .vidvim iframe, .vidyou iframe, #archives, #pagnav, .post ul.meta, h3, #comment-title { margin-left: 0px; }
header #title { margin-left:50px; }
#menu { top: 0; right: 20px; position: absolute; margin-top: 8px; }
	#menu a { margin-left: 20px; }
#comicss{display:none;}
article #page-title { margin-bottom: 10px; border-bottom: 2px solid #555; color:#CCC; }
.right { text-align: right; }
/*sidebar*/
.meta, q, figcaption { width: 100%; color: #888; text-align: center; margin-bottom: 1em; }
figcaption { margin-top: 1em; }
.meta { text-align: left; }
.meta { position: relative; top: 0; }
ul.meta li { display: inline;  margin-right:5px; }
q, figcaption { float: left; }
q { font-family: georgia, serif; font-style: italic; }
/*img*/
.first { float: left; margin-right: 1em; }
.gambar, .vidvim iframe, .vidyou iframe, .full { background: url('/images/bgr.png') right bottom no-repeat; padding-bottom: 9px; background-size: 100%; }
* html body article .full img { width: 500px; }
* :first-child+html body article .full img { width: 500px; }
/*footer*/
footer p { border-top: 2px solid #555; }
/*arsip*/
#archives ol li a.list { border: none; }
#archives ol li:hover { background-color: #333; }
.list { display: inline-block; width: 355px; }
article #archives ol li time { display: inline-block; text-align: right; width: 110px; }
#archives ol li { list-style-type: decimal; }
#social { display: none; }
/*index*/
.post { position: relative; }
.post p {margin-bottom:0;}
	.post h2 { border: none; margin-bottom: 0; }
	.post ul.meta { width: auto; margin-bottom: 1em; position: relative; top: 0; text-align: left; }
.thumbnail { display:none; }
/*pagnav*/
#pagnav { position: relative; text-align: center; }
.next, .prev { position: absolute; }
.next { right: 0; }
.prev { left: 0; }
* html body article #pagnav { text-align: center; }
	* html body article #pagnav .prev { left: -200px; }
	* html body article #pagnav .next { right: 20px; }
	* html body article #pagnav .totpages { padding-left: 200px; }
* :first-child+html body article #pagnav { text-align: center; }
	* :first-child+html body article #pagnav .prev { left: -200px; }
	* :first-child+html body article #pagnav .next { right: 20px; }
	* :first-child+html body article #pagnav .totpages { padding-left: 200px; }
/*logo*/
#logo { position: absolute; left: 20px; top: -20px; max-width: 40px; }
* html body header #logo { width: 40px; }
* :first-child+html body header #logo { width: 40px; }
/*480px - 538px*/
@media screen and (min-width: 480px) and (max-width: 538px) {
header, article, footer { width: 440px; }
.list { display: inline-block; width: 305px; }
article #archives ol li time { display: inline-block; text-align: right; width: 100px; }
.vidvim iframe { width: 440px; height: 187px; }
.vidyou iframe { width: 440px; height: 360px; }
}
/*320px - 479px*/
@media screen and (min-width: 320px) and (max-width: 479px) {
header #title, article #page-title, #menu, .post h2 , #comment-title { font-weight:bold; }
#page-title, #menu { font-size: 1.5em; }
.post h2 { font-size: 1.375em; }
#logo { left: auto; right: 10px; max-width: 60px;}
header #title { margin-left: 0; }
#menu { position:relative; right:0; }
#menu a{ margin-left:0; margin-right:10px; }
header, article, footer { width: 300px; padding-left: 10px; padding-right: 10px; }
.list { display: inline; width: auto; }
article #archives ol li time { display: none; }
p, .first { margin-bottom: .625em; }
.gambar, .vidvim iframe, .vidyou iframe, .full { padding-bottom: 6px; }
.vidvim iframe { width: 300px; height: 128px; }
.vidyou iframe { width: 300px; height: 225px; }
}
/* < 320px*/
@media screen and (max-width: 319px) {
header #title, article #page-title, #menu, .post h2, #comment-title { font-weight:bold; }
#page-title, #menu { font-size: 1.5em; }
.post h2 { font-size: 1.375em; }
#logo { left: auto; right: 10px; }
header #title { margin-left: 0; }
#menu { position:relative; right:0; }
#menu a{ margin-left:0; margin-right:10px; }
header, article, footer { width: 200px; padding-left: 10px; padding-right: 10px; }
.list { display: inline; width: auto; }
article #archives ol li time { display: none; }
p, .first { margin-bottom: .625em; }
.gambar, .vidvim iframe, .vidyou iframe, .full { padding-bottom: 4px; }
.vidvim iframe { width: 200px; height: 85px; }
.vidyou iframe { width: 200px; height: 180px; }
}
/* > 768px*/
@media screen and (min-width: 768px) {
header, article, footer { width: 620px; padding-right: 100px; }
header #title, article #page-title, .post h2, p, .first, .gambar, .vidvim iframe, .vidyou iframe, #archives, #pagnav, .post ul.meta, h3, #comment-title { margin-left: 120px; }
#comicss{display: inline;}
#about{display:none;}
#menu { right: 100px; }
.thumbnail { display: block; width: 60px; height: 60px; border-top: 4px solid #2C2C2C; border-left: 4px solid #2C2C2C; border-right: 2px solid #0d0d0d; border-bottom: 2px solid #0d0d0d; position: absolute; bottom: 4px; left: 36px; overflow: hidden; border-radius: 2px; }
.thumbnail:before { position: absolute; top: 0; content: ""; width: 56px; height: 56px; border-right: 4px solid #2C2C2C; border-bottom: 4px solid #2C2C2C; }
.thumbnail:after { position: absolute; top: 0; border-top: 16px solid #fff; border-bottom: 16px solid transparent; border-right: 20px solid transparent; border-left: 20px solid #fff; content: ""; opacity: .1; }
.thumbnail img { margin: 0; max-width:60px; }
.meta, q, figcaption { width: 100px; text-align: right; }
.meta { position: absolute; top: 56px; margin-bottom: 0; }
ul.meta li { display: block; margin-right:0; }
.post ul.meta li { display: inline; margin-right:5px; }
#social { position: absolute; top: 53px; display: block; left: 55px; }
ul#social li  a { width: 60px; height: 55px; display: block; margin-bottom: 10px; }
	ul#social li  a.github { background: url("/images/socialicon.png") no-repeat left top; }
	ul#social li  a.twitter { background: url("/images/socialicon.png") no-repeat left -68px; }
	ul#social li  a.tumblr { background: url("/images/socialicon.png") no-repeat left -133px; }
	ul#social li  a.github:hover { background-position: left -192px; }
	ul#social li  a.twitter:hover { background-position: left -260px; }
	ul#social li  a.tumblr:hover { background-position: left -325px; }
.full { background: url('/images/bgr.png') right bottom no-repeat; padding-bottom: 12px; margin-left: 0; background-size: 100% }
#logo { left: 60px; top: -20px; max-width: 60px; }
}