@media screen and (max-width: 768px) {
header, article, footer { width: 500px; margin: 20px auto; padding: 0;}
.meta, blockquote, figcaption   { width: 500px; }
.meta {margin:0; text-align: left; line-height:1.5;}
ul.meta li {display:inline; margin-right:10px;}
.post ul.meta, #social  { display:none;}
.push, article p, article h4, #archives{ margin-left:0;}
blockquote, figcaption  {margin: 0 0 1em 0; text-align: center; border:none;}
.full img{padding-bottom: 9px;}
}

@media screen and (max-width: 480px) {
body{font-size: .9375em; -webkit-text-size-adjust: none;}
header, article, footer { width: 360px; margin: 15px auto;}
#title, nav, #bottomr, #bottoml { width: 180px; }
#judul, #bottom , #comment, .meta, blockquote, figcaption { width: 360px; }
.prev, .totpages, .next { width: 120px; }
.list {width: auto;}
#archives ol li:hover { background-color: transparent; }
article #archives ol li time {display:none;}
nav ul li {margin: 1px;}
.full img, .gambar img, .vidvim iframe, .vidyou iframe {padding-bottom: 6px;}
h1 { font-size: 2.125em; }
h2 { font-size: 1.75em; line-height: 1.3; }
.post h2 { font-size: 1.375em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.125em; }
nav { font-size: 1.75em; }
.vidvim iframe { width: 100%; height: 203px; }
.vidyou iframe { width: 360px; height: 232px; }
}

@media screen and (max-width: 320px) {
body{font-size: .875em;}
p { margin-bottom: .9375em; }
header, article, footer { width: 240px; margin: 10px auto;}
#bottomr, #bottoml, #judul, #bottom , #comment, .meta, blockquote, figcaption { width: 240px; }
#title, nav { width: 120px; }
.prev, .next { width: 120px; }
.totpages {display:none;}
.full img, .gambar img, .vidvim iframe, .vidyou iframe {padding-bottom: 4px;}
h1 { font-size: 1.625em; }
h2 { font-size: 1.5em;}
.post h2 { font-size: 1.25em; }
h3 { font-size: 1.125em; }
h4 { font-size: 1.125em; }
nav { font-size: 1.15em; padding-top:9px;}
nav ul li {margin: 0 0 0 2px;}
#bottomr {display:none;}
.vidvim iframe { width: 100%; height: 180px; }
.vidyou iframe { width: 320px; height: 232px; }
}

@media screen and (max-width: 240px) {
body{font-size: .8125em;}
p { margin-bottom: .875em; }
header, article, footer { width: 200px; margin: 8px auto;}
#bottomr, #bottoml, #judul, #bottom , #comment, .meta, blockquote, figcaption { width: 200px; }
#title { width: 80px; }
.prev, .next { width: 100px; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.375em;}
.post h2 { font-size: 1.25em; }
nav {padding-top:7px;}
nav ul li {margin: 0 0 0 1px;}
.vidvim iframe { width: 100%; height: 135px; }
.vidyou iframe { width: 240px; height: 232px; }
}