@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0; padding:0; border:0; outline:0; vertical-align:baseline; background:transparent; }
body{line-height:1.4; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{display:block; }
blockquote, q{quotes:none; }
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none; }
a{margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins{background-color:#ff9; color:#000; text-decoration:none; }
mark{background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del{text-decoration:line-through; }
abbr[title], dfn[title]{border-bottom:1px dotted #000; cursor:help; }
table{border-collapse:collapse; border-spacing:0; }
hr{display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; }
input, select{vertical-align:middle; }
.grid_3 { width:150px; }
.grid_5 { width:245px; }
.grid_7 { width:340px; }
.grid_10 { width:500px; }
.column {margin: 0 5px;	overflow: hidden;float: left;display: inline;}
.row {	width: 510px;margin: 0 auto 0 50px;	overflow: hidden;}
.row .row {margin: 0 -5px;	width: auto;display: inline-block;}
body{background-color:#4A525A; color:#eee; font:0.98em 'Copse',Georgia,"Times New Roman",Times,serif; position:relative; line-height:1.4; letter-spacing:0.02em;text-shadow:1px 1px 0 #000000}
@font-face { font-family: 'Copse'; font-style: normal; font-weight: normal; src: local('Copse'), url('/css/copse.woff') format('woff');}
a:link, a:visited{color:#eee; text-decoration:none;}
a:hover{text-decoration:none; color:#aaa; }
a:focus{top:1px; left:1px; position:relative; outline:0; }
article p a:link, article p a:visited{color:#eee; text-decoration:underline;}
article p a:hover{color:#aaa;}
blockquote{font-family:Georgia,"Times New Roman",Times,serif; margin:5px; padding:0 10px 10px; font-size:1.52em; font-style:italic; line-height:1.3em; quotes:none; }
h1, h2, h3, h4, h5{margin:0 0 0.2em;letter-spacing: -0.02em;}
h1, h2 { font-size:1.875em; font-weight:normal;}
h3{font-size:1.125em; font-weight:normal;}
h4{font-size:1em; }
h5{font-size:1.252em; }
h6{font-size:1.52em; }
nav ul{list-style:none; font-size:1.375em; margin:10px 0 0; text-align:right; letter-spacing: -0.02em;}
nav ul li{display:inline; padding-left:20px; padding-left:20px; }
ul{list-style:none; }
ul, ol{margin:0 0 1.5em 2em; padding:0; }
p{margin:0 auto 1.52em; }
img.kiri{float:left; margin-right:1.52em; }
img.kanan{float:right; margin-left:1.52em; }
strong{font-weight:600; }
em, dfn{font-style:italic; }
dfn{font-weight:600; }
sup, sub{line-height:0; }
abbr, acronym{border-bottom:1px dashed #ccc; }
address{margin:0 0 1.5em; font-style:italic; }
del{color:#666; }
pre, code, tt{font:1em 'andale mono','lucida console',monospace; line-height:1.5; display:block; }
code{background-color:#eee; display:inline; padding:0 2px 1px 2px; line-height:1.1em; }
pre{margin:1.5em 0; white-space:pre; }
.tengah {text-align:center;}
.right{text-align:right;}
.gambar{padding-bottom:10px; background:url('/images/bgr.png') left bottom no-repeat; position:relative; width:500px;}
footer{font-size:0.98em; margin:20px auto; line-height: 3em;}
header{margin:30px auto 20px;}
.garis {height: 3px; width: 500px; margin: 0 auto 0 55px; background-color: #eee; box-shadow: 2px 2px 0px #000000; overflow:hidden; display:block;}
.prev, .next, header, h1, h2, h3, h4, h5 {text-shadow:2px 2px 0 #000000}
.prev, .next {font-size:1.5em; font-weight:bold;}
.totpages{line-height:2em; text-align:center;}
.post{margin-top:20px; margin-bottom:20px;}
table tr td {width: 170px;}