<head>
<title>{{ site.name }} - {{ page.title }}</title>
<meta charset="utf-8" />
<meta name="author" content="Heru Setiawan" />
<meta name="description" content="{{ page.title }}{% if page.excerpt %} - {{ page.excerpt }}{% endif %}" />
<meta name="google-site-verification" content="H4HVexSpKGJLO9-E59JICKhXcVBrR6cgid_sHHbF50E" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="/css/main.css?v=1"/> 
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
<link rel="alternate" type="application/rss+xml" href="http://sarim.in/atom.xml"/> 
<!-- 9nEVCbxka4GtsGPMVmVG8A_SCNE -->
<!--[if lt IE 9]>
<script type="text/javascript" src="/js/html5.js"></script>
<![endif]-->
</head>