<head>
<title>{{site.name}} - {{ page.title }}</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<meta name="author" content="Heru Setiawan" />
<meta name="description" content="Heru's Personal blog" />
<meta name="google-site-verification" content="H4HVexSpKGJLO9-E59JICKhXcVBrR6cgid_sHHbF50E" />
<meta name="keywords" content="{{ page.metakeywords }}" />
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
<link href='/css/main.css' rel='stylesheet' type='text/css' />
<link href="/css/media-queries.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
<link href='/atom.xml' rel='alternate' title='Timbulog' type='application/atom+xml'/>
<!--[if lt IE 9]>
<script type="text/javascript" src="/js/html5.js"></script>
<![endif]-->
</head>