<!DOCTYPE html>
<html lang="id">
<head>
<title>{{ page.title }}</title>
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
  <style type="text/css">
/* inspired by "about:mozilla" */
html {
  background: maroon;
  color: white;
  font-style: italic;
}

#kuote {
  margin-top: 15%;
  font-size: 1.2em;
  font-family: Georgia,Utopia,'Palatino Linotype',Palatino,serif;
  text-align: center;
  line-height: 1.5;
}

#sourse {
  font-size: 1.5em;
  font-family: Georgia,Utopia,'Palatino Linotype',Palatino,serif;
  text-align: right;
}

a {
  text-decoration: none;
  color: white;
}

iframe#tumblr_controls {
  display: none;
}
  </style>
</head>
<body>
{{content}}
</body>
</html>