<!DOCTYPE html>
<html lang="en">
<head>
<title>{{site.name}} - {{ page.title }}</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<meta name="author" content="Heru Setiawan" />
<meta name="description" content="Heru's Personal blog" />
<meta name="google-site-verification" content="560b5oVJ23apy5RcIC3H5kBgBqt7UhhuGLpr49riXAE" />
<meta name="keywords" content="heru, setiawan, timbul, timbulog" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href='/css/main.css' rel='stylesheet' type='text/css' />
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
<link href='/atom.xml' rel='alternate' title='Timbulog' type='application/atom+xml'/>
<script type="text/javascript" src="/js/html5.js"></script>
</head>
<body>
<header>
<div class="row">
<div class="column dua enam"><h1 id="title"><a title="Heru's Personal Blog" href="/">{{site.name}}</a></h1></div>
<nav class="column dua">
<ul>
<li><a class="home" title="Home" href="/">Home</a></li>
<li><a  class="about" title="About me" href="/about/">About</a></li>
<li><a class="archives" title="All my posts" href="/archives/">Archives</a></li>
</ul></nav>
</div>
</header>

<article>
{{ content }}
</article>

<footer>
<div class="row">
<div class="column tiga enam tengah"><p>Code & content by Joni Korpi. Some rights reserved; please attribute properly and link back to this site. The typefaces used are LFT Etica and PT Sans, via Typekit.</p></div>
</div>
</footer>
</body>
</html>