---
layout: default
---
<div class="post">
<div class="row">
<div class="column tiga enam"><h2 class="judul">{{ page.title }}</h2></div>
</div>
<div class="row">
<div  class="column satu">
<dl>
<dt>Posted on :</dt>
<dd>{{ page.date | date_to_string }}</dd>
<dt>Tag :</dt>{% for tag in page.categories %}
<dd><a rel="tag" href="/archives/#{{ tag }}">{{ tag }}</a></dd>{% endfor %}
</dl>
</div>
<div class="column tiga">{{ content }}</div>
</div>
</div>

<div class="row">
<div class="column empat">
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'timbulog';
    var disqus_url = 'sarim.in{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a></div>
</div>