---
layout: default
---
<div class="row post">
<div class="column grid_10">
<h2>{{ page.title }}</h2>
 {{ content }}
</div>
</div>

<div class="row comment">
<div class="column grid_10">
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'timbulog';
    var disqus_url = 'http://timbul.github.com{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
</div>

<div class="row">
<div class="column grid_5 next"> {% if page.next.url %}
<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">&larr;</a>{% endif %}
</div>
<div class="column grid_5 prev right"> {% if page.previous.url %}
<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&rarr;</a>{% endif %}
</div>
</div>